<a href="https://colab.research.google.com/github/NavneetGujjar/Python-Projects/blob/main/TensorFlowPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [22]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [15]:
# loading the training data
df = pd.read_csv('/content/sales_data_training.csv')

In [17]:
df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,0,1,0,1,0,0,132717,59.99
1,4.5,0,0,0,0,1,1,0,83407,49.99
2,3.0,0,0,0,0,1,1,0,62423,49.99
3,4.5,1,0,0,0,0,0,1,69889,39.99
4,4.0,1,0,1,0,1,0,1,161382,59.99

In [19]:
# X_training is the input where as Y is the predict
X_training = df.drop('total_earnings', axis = 1).values # to get result values as an array
Y_training = df[['total_earnings']].values

In [20]:
# loading the test data
df_test = pd.read_csv('/content/sales_data_training.csv')

In [21]:
X_testing = df_test.drop('total_earnings', axis = 1).values # to get result values as an array
Y_testing = df_test[['total_earnings']].values

In [28]:
# preprocessing the data so as to get the values between 0 and 1
X_scaler = MinMaxScaler(feature_range=(0,1))
Y_scaler = MinMaxScaler(feature_range=(0,1))

In [29]:
X_scaled_training = X_scaler.fit_transform(X_training)
Y_scaled_training = Y_scaler.fit_transform(Y_training)

In [30]:
X_scaled_testing = X_scaler.fit_transform(X_testing)
Y_scaled_testing = Y_scaler.fit_transform(Y_testing)

In [36]:
print(X_scaled_testing.shape)
print(Y_scaled_testing.shape)

print(X_scaled_training.shape)
print(Y_scaled_training.shape)

# training has 9 inputs so we will need 9 input

(1000, 9)
(1000, 1)
(1000, 9)
(1000, 1)

In [40]:
print("Values addition to Y_scaler {:.10f} and multiplication by {:,.4f}".format(Y_scaler.scale_[0],Y_scaler.min_[0]))

Values addition to Y_scaler 0.0000036968 and multiplication by -0.1159